#pokemon-list{
    position:absolute;
    width: 75%;
    height: 100%;
    top: 0;
    right:0;
    background: rgb(173,255,243);
    background: linear-gradient(135deg, rgba(173,255,243,1) 0%, rgba(235,255,252,1) 11%, rgba(173,255,243,1) 23%, rgba(6,6,6,1) 100%);
}

.pokemonDiv{
    width: 300px;
    height:300px;
    
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    align-items: center;
}
.img{
    
    padding-top: 75px;
    padding-left: 70px;
    scale: 2;
    align-self: center;
    z-index: 2;
}

.gif{
    padding-top: 70px;
    padding-left: 90px;
    scale: 2;
    align-self: center;
    z-index: 2;
}

.environment{
    height: 100px;
    width : 300px;
    padding:0;
    z-index: 1;
}

#trainer-page{
    position:fixed;
    width: 25%;
    height: 100%;
    top: 0;
    left:0;
    font-size: 40px;
    text-align: center;
    align-items: center;
    z-index: 2;
    border-right: 7px solid white;
}

.trainerImg{
    padding:0px;
    width: 100%;
}